*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

.bg-light{
    background-color: #f4f4f6 ! important;
    padding: 10px 200px;
}

.navbar-light .navbar-brand{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    
}

.navbar-light .nav-link{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

}

header{
    background-color: #f4f4f6;
}

header img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    

}

.banner-title h1{
    margin-top: 20%;
    color: #5a5a5a;
    font-size: 46px;


}

.banner-title p{
    margin-bottom: 25px;
    line-height: 24px;
    color: #777;
}

.banner-title a{
    background-color: #dca079;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 0 10px rgba(0,0,0,0.4);

}
.banner-title hr{
    width: 30px;
    height: 2px;
    display: inline-block;
    margin-left: 15px;
    background-color: #bfbfbf;
    margin-top: 30px;

}


section img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

section .item{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 15px 0 10px;
    width: 80%;
    margin: auto;
    margin-top: -60px;
    cursor: pointer;
    transition: 0.4s;
}

section .item:hover{
    border-bottom: 0 0 10px rgba(0,0,0,0.2);
}

section p{
    font-size: 20px;
    font-weight: 500;
}



/*nav-link {
    text-decoration: none;
}


nav-item{
    text-decoration: none;
   
}

ul{
    list-style: none;
}

li{
    display: inline;
   
}
